{% extends "chores/index.html" %}
{% block content %}
    <div id = 'leaderboard' class='row'>
        <div class = "large-12 column">
{#             <h1>Who's winning?</h1> #}
            {% for user in users %}
                <p>{{ user.username }} has {{user.score.points}} points.</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
