<p>Thanks for registering at {{site}}.</p>
<p>Click <a href="http://{{site}}/accounts/activate/{{ activation_key }}/">here</a> to activate your account.</p>
<p>This key will expire in {{expiration_days}} days.</p>