{% extends "foundation/base.html" %}
{% block base_body %}
<div class='row'>
    <div class='large-12 columns'>
        <div class='panel'>
            <form action="." method='POST'>{% csrf_token %}
               <h1>{{chore.title}}</h1>
               {{form.as_p}}
               <input type='hidden' id='id_completed_by' name='completed_by' value="{{ user.username }}">
               <input type='hidden' id="id_completed" name="completed" value="True">
               <input type='submit' value='Done!'>
            </form>
        </div>
    </div>
</div> 
{% endblock base_body %}
