{% extends 'chores/index.html' %}
{% block content %}
    <div class="row" id='title'>
        <div class="large-12 columns">
            <h1>Chores to be Done!</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <div class="panel">
                {% for chore in chores %}
                    <p><h3>Title: {{chore.title}}</h3>
                    <p><span class="worth">This chore is worth {{chore.points}} points.</span>
                    <form action="/complete/{{chore.pk}}/" method='POST'>{% csrf_token %}
                        <input type='hidden' id='id_completed_by' name='completed_by' value="{{ user.username }}">
                        {# <input type='hidden' id="id_completed" name="completed" value="True"> #}
                        <input type = 'submit' value = 'I did it!'>
                    </form>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
