{% extends "foundation/base.html" %}
{% block base_body %}
{% block nav %}
<nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
        <li class="name">
            <h1><a href="{% url 'home' %}">Home</a></h1>
        </li>
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
            <li class="active"><a href={% url "leaderboard" %}>Who's Winning?</a></li>
            <li class="secondary"><a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></li>
            {% if user.is_superuser %}
    		      <li><a href="{% url 'admin:index' %}">Admin</a></li>
            {% endif %}
          <!--
    		<li class="has-dropdown">
            	<a href="#">Right Button Dropdown</a>
            	<ul class="dropdown">
              	<li><a href="#">First link in dropdown</a></li>
              	<li class="active"><a href="#">Active link in dropdown</a></li>
            </ul>
     -->
        </ul>

    <!-- Left Nav Section -->
    <!--
<ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>
 -->
    </section>
</nav>
{% endblock nav %}
{% block content %}{% endblock content %}

{% endblock base_body %}
